<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify Login</title>
</head>
<body>
  <div>Loading...</div>
  <script>
    const accessToken = "<%= accessToken || '' %>";
    const refreshToken = "<%= refreshToken || '' %>";
    const expiresIn = +"<%= expiresIn || '' %>";
    const scope = "<%= spotifyScope || '' %>";
    const error = "<%= error || '' %>";

    const payload = error ? {
      error
    } : {
      accessToken,
      refreshToken,
      expiresIn,
      scope,
    };

    window.opener.postMessage({
      spotifyAuth: payload,
    }, '*');

    window.close();
  </script>
</body>
</html>